# Concatenating the CSV files to create feature vectors for SVM

In [22]:
import pandas as pd
import os 
# making 'featureVector' directory if it does not exist
if not os.path.isdir('../featureVectors'):
    os.mkdir('../featureVectors')

In [24]:
df1 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzbot/winwebsecVSzbot-2-8-300.csv').drop('class',1)
df1 = df1.rename(columns = {'score':'score1'})

df2 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzbot/winwebsecVSzbot-5-31-300.csv').drop('class',1)
df2 = df2.rename(columns = {'score':'score2'})

df3 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzbot/winwebsecVSzbot-7-9-300.csv')
df3 = df3.rename(columns = {'score':'score3'})

winwebsec_vs_zbot = pd.concat([df1, df2, df3], axis=1).reindex(df1.index)
winwebsec_vs_zbot.to_csv('../featureVectors/winwebsec_vs_zbot_3d.csv', index=False)
winwebsec_vs_zbot.head()

/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/1962547867.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzbot/winwebsecVSzbot-2-8-300.csv').drop('class',1)
/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/1962547867.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzbot/winwebsecVSzbot-5-31-300.csv').drop('class',1)

         score1        score2        score3  class
0  -2088.115756  -2513.238825  -1780.256082      0
1 -16216.649728 -22270.539526 -14969.549895      0
2   -728.273937  -1714.454667   -631.003009      0
3  -1993.711595  -2355.196982  -1680.857602      0
4   -779.491680  -1535.227199   -699.514483      0

In [25]:
df1 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzeroAccess/winwebsecVSzeroAccess-2-20-300.csv').drop('class',1)
df1 = df1.rename(columns = {'score':'score1'})

df2 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzeroAccess/winwebsecVSzeroAccess-4-40-300.csv').drop('class',1)
df2 = df2.rename(columns = {'score':'score2'})

df3 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzeroAccess/winwebsecVSzeroAccess-5-27-300.csv')
df3 = df3.rename(columns = {'score':'score3'})

winwebsec_vs_zero = pd.concat([df1, df2, df3], axis=1).reindex(df1.index)
winwebsec_vs_zero.to_csv('../featureVectors/winwebsec_vs_zeroAccess_3d.csv', index=False)
winwebsec_vs_zero.head()

/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/141228897.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzeroAccess/winwebsecVSzeroAccess-2-20-300.csv').drop('class',1)
/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/141228897.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = pd.read_csv('../output/testingResults/winwebsec/winwebsecVSzeroAccess/winwebsecVSzeroAccess-4-40-300.csv').drop('class',1)

         score1        score2        score3  class
0  -2800.324579  -2605.567450  -2496.586785      0
1 -23676.584205 -22811.904836 -21992.987367      0
2  -1125.792026  -1661.784037  -1763.106029      0
3  -2637.904426  -2452.666527  -2338.823248      0
4  -1154.181898  -1610.128591  -1185.199994      0

In [27]:
df1 = pd.read_csv('../output/testingResults/zbot/zbotVSwinwebsec/zbotVSwinwebsec-2-31-300.csv').drop('class',1)
df1 = df1.rename(columns = {'score':'score1'})

df2 = pd.read_csv('../output/testingResults/zbot/zbotVSwinwebsec/zbotVSwinwebsec-4-22-300.csv').drop('class',1)
df2 = df2.rename(columns = {'score':'score2'})

df3 = pd.read_csv('../output/testingResults/zbot/zbotVSwinwebsec/zbotVSwinwebsec-5-30-300.csv')
df3 = df3.rename(columns = {'score':'score3'})

zbot_vs_winwebsec = pd.concat([df1, df2, df3], axis=1).reindex(df1.index)
zbot_vs_winwebsec.to_csv('../featureVectors/zbot_vs_winwebsec_3d.csv', index=False)
zbot_vs_winwebsec.head()

/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/2948145287.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = pd.read_csv('../output/testingResults/zbot/zbotVSwinwebsec/zbotVSwinwebsec-2-31-300.csv').drop('class',1)
/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/2948145287.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = pd.read_csv('../output/testingResults/zbot/zbotVSwinwebsec/zbotVSwinwebsec-4-22-300.csv').drop('class',1)

        score1       score2       score3  class
0 -3587.636146 -2874.659979 -3098.909218      0
1 -1471.788192 -1219.075479 -1242.342889      0
2 -1225.635048 -1032.486286 -1036.467492      0
3 -4886.027252 -3719.473834 -4077.343568      0
4 -2764.816047 -2213.423682 -2442.364620      0

In [28]:
df1 = pd.read_csv('../output/testingResults/zbot/zbotVSzeroAccess/zbotVSzeroAccess-4-10-300.csv').drop('class',1)
df1 = df1.rename(columns = {'score':'score1'})

df2 = pd.read_csv('../output/testingResults/zbot/zbotVSzeroAccess/zbotVSzeroAccess-5-35-300.csv').drop('class',1)
df2 = df2.rename(columns = {'score':'score2'})

df3 = pd.read_csv('../output/testingResults/zbot/zbotVSzeroAccess/zbotVSzeroAccess-6-27-300.csv')
df3 = df3.rename(columns = {'score':'score3'})

zbot_vs_zero = pd.concat([df1, df2, df3], axis=1).reindex(df1.index)
zbot_vs_zero.to_csv('../featureVectors/zbot_vs_zeroAccess_3d.csv', index=False)
zbot_vs_zero.head()

/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/1924816958.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = pd.read_csv('../output/testingResults/zbot/zbotVSzeroAccess/zbotVSzeroAccess-4-10-300.csv').drop('class',1)
/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/1924816958.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = pd.read_csv('../output/testingResults/zbot/zbotVSzeroAccess/zbotVSzeroAccess-5-35-300.csv').drop('class',1)

        score1       score2       score3  class
0 -2103.050631 -3041.159335 -2828.218059      0
1 -1059.311383 -1181.545420 -1142.661249      0
2  -897.176107  -997.479028  -944.112945      0
3 -2541.832242 -4190.201876 -4036.933320      0
4 -1621.903603 -2361.896470 -2240.633647      0

In [29]:
df1 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSwinwebsec/zeroAccessVSwinwebsec-2-3-300.csv').drop('class',1)
df1 = df1.rename(columns = {'score':'score1'})

df2 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSwinwebsec/zeroAccessVSwinwebsec-4-20-300.csv').drop('class',1)
df2 = df2.rename(columns = {'score':'score2'})

df3 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSwinwebsec/zeroAccessVSwinwebsec-5-15-300.csv')
df3 = df3.rename(columns = {'score':'score3'})

zero_vs_winwebsec = pd.concat([df1, df2, df3], axis=1).reindex(df1.index)
zero_vs_winwebsec.to_csv('../featureVectors/zeroAccess_vs_winwebsec_3d.csv', index=False)
zero_vs_winwebsec.head()

/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/1836170860.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSwinwebsec/zeroAccessVSwinwebsec-2-3-300.csv').drop('class',1)
/var/folders/t4/jrffm16s7v184tvcmg3hx7pm0000gn/T/ipykernel_50024/1836170860.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSwinwebsec/zeroAccessVSwinwebsec-4-20-300.csv').drop('class',1)

        score1        score2        score3  class
0 -7798.158375 -18254.323547 -16885.897417      0
1 -6862.142459 -16073.322198 -14810.714839      0
2 -5992.993987 -13797.558658 -12794.939141      0
3 -5927.780968 -13571.017950 -12596.405409      0
4 -2945.737837  -7762.198584  -7234.356718      0

In [7]:
df1 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSzbot/zeroAccessVSzbot-3-20-300.csv').drop('class',1)
df1 = df1.rename(columns = {'score':'score1'})

df2 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSzbot/zeroAccessVSzbot-5-14-300.csv').drop('class',1)
df2 = df2.rename(columns = {'score':'score2'})

df3 = pd.read_csv('../output/testingResults/zeroAccess/zeroAccessVSzbot/zeroAccessVSzbot-6-22-300.csv')
df3 = df3.rename(columns = {'score':'score3'})

zero_vs_zbot = pd.concat([df1, df2, df3], axis=1).reindex(df1.index)
zero_vs_zbot.to_csv('./featureVectors/zeroAccess_vs_zbot_3d.csv', index=False)
zero_vs_zbot.head()

         score1        score2        score3  class
0 -18595.679041 -15991.930667 -17845.263124      0
1 -16409.989389 -14669.507712 -16679.870437      0
2 -13864.440100 -12445.660072 -14080.045975      0
3 -13616.800556 -12281.970940 -13808.206952      0
4  -8080.849839  -6573.674750  -7850.502857      0